.background_bar {
  background-image: url("https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp");
  background-size: cover;

  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}
